{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <section class="container">

            <p>Input person here:</p>
            <form action="{% url 'person-list' %}" method="post">

                {% csrf_token %}

                {{ form|crispy }}

                <input type="submit" value="Create new person" class="btn btn-primary mt-1">
            </form>
    </section>

    <section class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Birthday</th>
                <th scope="col">Age</th>
                <th scope="col">View</th>
            </tr>
            </thead>
            <tbody>
            {% for person in people %}
                <tr>
                    <td>{{ person.name }}</td>
                    <td>{{ person.birthday }}</td>
                    <td>{{ person.age }}</td>
                    <td><a href="{% url 'person-detail' person.id %}" class="btn btn-primary">View</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}