{% extends 'base.html' %}

{% block content %}

    <section>
        <p>Input person here:</p>

        <form action="{% url 'person-list' %}" method="post">
            {% csrf_token %}

            <ul>
                {{ form.as_ul }}
            </ul>

            <input type="submit" value="Submit">
        </form>
    </section>

    <section>
        <p>List of all people entered:</p>
        <ul>
            {% for person in people %}
                <li>
                    <p>Name: {{ person.name }}</p>
                    <p>Birthday: {{ person.birthday }}</p>
                    <p>Age: {{ person.birthday }}</p>
                    <ul>
                        <li><a href="{% url 'person-detail' person.id %}">View</a></li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}