[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyautogui = "*"
pywinauto = "*"
"pywin32" = "*"
packaging = "*"
numpy = "*"
asciimatics = "*"
joblib = "*"
pillow = "*"
utilspie = "*"
twilio = "*"
"bs4" = "*"
pyinstaller = "*"
matplotlib = "*"
pandas = "*"
noaa-sdk = "*"
scrapy = "*"

[dev-packages]

[requires]
python_version = "3.6.4"
