[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyautogui = "*"
pywinauto = "*"
"pywin32" = "*"
packaging = "*"
numpy = "*"
asciimatics = "*"

[dev-packages]

[requires]
